*{
	margin: 0;
}
body{
	background: white;
}
#loginBox{
	width: 400px;
	margin: auto;
	padding: 20px;
	height: 500px;
	box-shadow: #ddd  0px 8px 24px;
}
.top-bar{
	height: 60px;
	margin:auto;
	box-shadow: #ddd  0px 8px 24px;
}